.form_wrapper {
  display: flex;
  padding: 5% 18%;
  .form_description {
    display: flex;
    flex-direction: column;
    flex: 1;
    .title {
      color: #1a1a1a;
      margin: 5% 0 2% 0;
      font-weight: bold;
    }
    .description {
      color: #393e3d;
    }
  }
  .form_container {
    flex: 1;
    form {
      display: flex;
      flex-direction: column;
    }
  }
}
