<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      let cartTotal = 0;
      console.log(localStorage.getItem("cartItems"));
      const cartItemsStored = JSON.parse(localStorage.getItem("cartItems"));
      console.log("cartItemsStored ", cartItemsStored);
      let cartItems = cartItemsStored || [];
      var cartLength = document.querySelector("#cart-item-count");
      const cartItemsCount = (cartItems || []).length;
      cartLength.innerHTML = cartItemsCount;

      if (cartItemsCount == 0) {
        var emptyCartDOM = document.querySelector("#empty-cart-content");

        let noItemNoticeTitle = document.createElement("span");
        noItemNoticeTitle.className = "empty-cart-notice-title";
        noItemNoticeTitle.innerHTML = "No items in your cart";

        let noItemNoticeDesc = document.createElement("span");
        noItemNoticeDesc.className = "empty-cart-notice-desc";
        noItemNoticeDesc.innerHTML =
          "Your favorite items are just one click away";

        emptyCartDOM.appendChild(noItemNoticeTitle);
        emptyCartDOM.appendChild(noItemNoticeDesc);

        var footer = document.querySelector("#modal-footer");
        var startShoppingButton = document.createElement("button");
        startShoppingButton.className = "start_shopping_button";
        startShoppingButton.innerHTML = "Start Shopping";
        startShoppingButton.onclick = function () {
          location.href = "./products.html";
        };
        footer.appendChild(startShoppingButton);
      } else {
        var addedProducts = document.querySelector("#added-products");
        cartItems.forEach(function (product, i) {
          let wrapper = document.createElement("div");
          wrapper.className = `cart_item`;
          wrapper.id = `product_${product.id}`;

          let cartImgWrapper = document.createElement("div");
          cartImgWrapper.className = "cart_img_wrapper";
          var cartImg = document.createElement("img");
          cartImg.setAttribute("src", product.imageURL);
          cartImg.setAttribute("width", "100%");
          cartImg.setAttribute("alt", product.name);
          cartImgWrapper.appendChild(cartImg);

          let cartProductDetails = document.createElement("div");
          cartProductDetails.className = `cart_item_details`;

          let cartProductName = document.createElement("div");
          cartProductName.className = `cart_item_name`;
          cartProductName.innerHTML = product.name;
          cartProductDetails.appendChild(cartProductName);

          let quantityWrapper = document.createElement("div");
          quantityWrapper.className = `quantity_wrapper`;

          var decrement = document.createElement("button");
          decrement.className = "quantity_decrement";
          decrement.innerHTML = "-";
          decrement.onclick = function () {};

          var increment = document.createElement("button");
          increment.className = "quantity_increment";
          increment.innerHTML = "+";
          increment.onclick = function () {
            var updatedQuantity = document.querySelector(
              `#product_${product.id} > .cart_item_details > .quantity_wrapper > .quantity`
            );
            updatedQuantity.innerHTML = product.quantity + 1;

            localStorage.setItem(
              "cartItems",
              JSON.stringify([
                ...cartItems.filter((p) => p.id !== product.id),
                { ...product, quantity: product.quantity + 1 },
              ])
            );
          };

          let quantity = document.createElement("span");
          quantity.className = `quantity`;
          quantity.innerHTML = product.quantity;

          let cartProductPrice = document.createElement("span");
          cartProductPrice.className = `cart_product_price`;
          cartProductPrice.innerHTML = `X ${product.price}`;

          quantityWrapper.appendChild(decrement);
          quantityWrapper.appendChild(quantity);
          quantityWrapper.appendChild(increment);
          quantityWrapper.appendChild(cartProductPrice);
          cartProductDetails.appendChild(quantityWrapper);

          let finalProductPrice = document.createElement("div");
          finalProductPrice.className = `cart_product_final_price`;
          finalProductPrice.innerHTML = `Rs.${
            product.price * product.quantity
          }`;
          cartTotal += product.price * product.quantity;
          wrapper.appendChild(cartImgWrapper);
          wrapper.appendChild(cartProductDetails);
          wrapper.appendChild(finalProductPrice);

          addedProducts.appendChild(wrapper);
        });

        var lowestPriceBlock = document.querySelector("#lowest-price");
        let lowestPriceWrapper = document.createElement("div");
        lowestPriceWrapper.className = `low_price_wrapper`;

        let lowPriceImgWrapper = document.createElement("div");
        lowPriceImgWrapper.className = "low_price_img_wrapper";
        var lowPriceImg = document.createElement("img");
        lowPriceImg.setAttribute("src", "../../static/images/lowest-price.png");
        lowPriceImg.setAttribute("width", "100%");
        lowPriceImg.setAttribute("alt", "Lowest Price");
        lowPriceImgWrapper.appendChild(lowPriceImg);

        let lowPriceNotice = document.createElement("div");
        lowPriceNotice.className = "low_price_notice";
        lowPriceNotice.innerHTML = "You won't find it cheaper anywhere";

        lowestPriceWrapper.appendChild(lowPriceImgWrapper);
        lowestPriceWrapper.appendChild(lowPriceNotice);

        lowestPriceBlock.appendChild(lowestPriceWrapper);

        var footer = document.querySelector("#modal-footer");
        var footerNote = document.createElement("div");
        footerNote.className = "footer-note";
        footerNote.innerHTML = "Promocode can be applied on payment page";
        var checkoutButton = document.createElement("button");
        checkoutButton.className = "proceed_to_checkout";
        var checkoutText = document.createElement("span");
        checkoutText.innerHTML = "Proceed to Checkout";
        checkoutButton.appendChild(checkoutText);
        var finalCartAmount = document.createElement("div");
        finalCartAmount.className = "cart_amount";
        finalCartAmount.innerHTML = `Rs.${cartTotal} <i class="fas fa-chevron-right"></i>`;
        checkoutButton.appendChild(finalCartAmount);
        footer.appendChild(footerNote);
        footer.appendChild(checkoutButton);
      }
    </script>
  </head>
  <body>
    <div id="cart_modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <span>My Cart (<span id="cart-item-count"></span> item)</span>
        </div>
        <div class="modal-body">
          <div id="empty-cart-content"></div>
          <div id="added-products"></div>
          <div id="lowest-price"></div>
        </div>
        <div id="modal-footer" class="modal-footer"></div>
      </div>
    </div>
    <script>
      var modal = document.getElementById("cart_modal");
      var btn = document.getElementById("cart_actions");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };

      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
