<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../common/common.js"></script>
    <script>
      var shoppingCart = (function () {
        cart = [];

        function Item(id, name, price, quantity, imageURL) {
          this.id = id;
          this.name = name;
          this.price = price;
          this.quantity = quantity;
          this.imageURL = imageURL;
        }

        function saveCart() {
          localStorage.setItem("cartItems", JSON.stringify(cart));
        }

        function loadCart() {
          cart = JSON.parse(localStorage.getItem("cartItems"));
        }
        if (localStorage.getItem("cartItems") != null) {
          loadCart();
        }

        var obj = {};

        obj.setCountForItem = function (id, count) {
          for (var i in cart) {
            if (cart[i].id === id) {
              cart[i].quantity = quantity;
              break;
            }
          }
        };

        obj.removeItemFromCart = function (id) {
          for (var item in cart) {
            if (cart[item].id === id) {
              cart[item].quantity--;
              if (cart[item].quantity === 0) {
                cart.splice(item, 1);
              }
              break;
            }
          }
          saveCart();
        };

        obj.totalCount = function () {
          var totalCount = 0;
          for (var item in cart) {
            totalCount += cart[item].quantity;
          }
          return totalCount;
        };

        obj.totalCart = function () {
          var totalCart = 0;
          for (var item in cart) {
            totalCart += cart[item].price * cart[item].quantity;
          }
          return Number(totalCart.toFixed(2));
        };

        obj.listCart = function () {
          var cartCopy = [];
          for (i in cart) {
            item = cart[i];
            itemCopy = {};
            for (p in item) {
              itemCopy[p] = item[p];
            }
            itemCopy.total = Number(item.price * item.count).toFixed(2);
            cartCopy.push(itemCopy);
          }
          return cartCopy;
        };
        return obj;
      })();

      function goToProducts() {
        location.href = "./products.html";
      }

      function displayCart() {
        var cartArray = shoppingCart.listCart();
        var output = "";
        for (var i in cartArray) {
          output +=
            "<div class='cart_item' id='" +
            cartArray[i].id +
            "'><div class='cart_img_wrapper'><img src='" +
            cartArray[i].imageURL +
            "' alt='" +
            cartArray[i].name +
            "'/></div><div class='cart_item_details'><div class='cart_item_name'>" +
            cartArray[i].name +
            "</div><div class='quantity_wrapper'><button class='quantity_decrement' data-id='" +
            cartArray[i].id +
            "'>-</button><span class='quantity'>" +
            cartArray[i].quantity +
            "</span><button class='quantity_increment' data-id='" +
            cartArray[i].id +
            "'>+</button><span class='cart_product_price'>X " +
            numberWithCommas(cartArray[i].price) +
            "</span></div></div><div class='cart_product_final_price'>Rs." +
            numberWithCommas(cartArray[i].price * cartArray[i].quantity) +
            "</div></div>";
        }
        $("#added-products").html(output);

        const totalCart = shoppingCart.totalCart();
        var footerContent;
        if (totalCart == 0) {
          footerContent =
            "<button class='start_shopping_button' onclick='goToProducts()'>Start Shopping</button>";
          $("#empty-cart-content").html(
            "<span class='empty-cart-notice-title'>No items in your cart</span><span class='empty-cart-notice-desc'>Your favorite items are just one click away</span>"
          );
        } else {
          footerContent =
            "<div class='footer-note'>Promocode can be applied on payment page</div><button class='proceed_to_checkout'><span>Proceed to Checkout</span><div class='cart_amount'>Rs." +
            numberWithCommas(totalCart) +
            " <i class='fas fa-chevron-right'></i></div></button>";
          $("#lowest-price").html(
            "<div class='low_price_wrapper'><div class='low_price_img_wrapper'><img alt='Lowest Price' width='100%' src='../../static/images/lowest-price.png'/></div><div class='low_price_notice'>You won't find it cheaper anywhere</div></div>"
          );
        }
        $("#modal-footer").html(footerContent);
        $("#cart-item-count").html(cartArray.length);
      }

      $("#added-products").on("click", ".quantity_decrement", function (event) {
        var id = $(this).data("id");
        shoppingCart.removeItemFromCart(id);
        displayCart();
      });

      $("#added-products").on("click", ".quantity_increment", function (event) {
        alert("hi");
        var id = $(this).data("id");
        shoppingCart.addItemToCart(id);
        displayCart();
      });

      displayCart();
    </script>
  </head>
  <body>
    <div id="cart_modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <span>My Cart (<span id="cart-item-count"></span> item)</span>
        </div>
        <div class="modal-body">
          <div id="empty-cart-content"></div>
          <div id="added-products"></div>
          <div id="lowest-price"></div>
        </div>
        <div id="modal-footer" class="modal-footer"></div>
      </div>
    </div>
    <script>
      var modal = document.getElementById("cart_modal");
      var btn = document.getElementById("cart_actions");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };

      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
