<html lang="en">
  <head>
    <script>
      const cartItemsStored = JSON.parse(localStorage.getItem("cartItems"));
      console.log("cartItemsStored ", cartItemsStored);
      let cartItems = cartItemsStored || [];
      var cartLength = document.querySelector("#cart-item-count");
      const cartItemsCount = (cartItems || []).length;
      cartLength.innerHTML = cartItemsCount;

      if (cartItemsCount == 0) {
        var emptyCartDOM = document.querySelector("#empty-cart-content");

        let noItemNoticeTitle = document.createElement("span");
        noItemNoticeTitle.className = "empty-cart-notice-title";
        noItemNoticeTitle.innerHTML = "No items in your cart";

        let noItemNoticeDesc = document.createElement("span");
        noItemNoticeDesc.className = "empty-cart-notice-desc";
        noItemNoticeDesc.innerHTML =
          "Your favorite items are just one click away";

        emptyCartDOM.appendChild(noItemNoticeTitle);
        emptyCartDOM.appendChild(noItemNoticeDesc);

        var footer = document.querySelector("#modal-footer");
        var startShoppingButton = document.createElement("button");
        startShoppingButton.className = "start_shopping_button";
        startShoppingButton.innerHTML = "Start Shopping";
        startShoppingButton.onclick = function () {
          location.href = "./products.html";
        };
        footer.appendChild(startShoppingButton);
      }
    </script>
  </head>
  <body>
    <div id="cart_modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <span>My Cart (<span id="cart-item-count"></span> item)</span>
        </div>
        <div class="modal-body">
          <div id="empty-cart-content"></div>
        </div>
        <div id="modal-footer" class="modal-footer"></div>
      </div>
    </div>
    <script>
      var modal = document.getElementById("cart_modal");
      var btn = document.getElementById("cart_actions");
      var span = document.getElementsByClassName("close")[0];

      btn.onclick = function () {
        modal.style.display = "block";
      };

      span.onclick = function () {
        modal.style.display = "none";
      };

      window.onclick = function (event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      };
    </script>
  </body>
</html>
